XPath-XSLT/swiat.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT SWIAT (KONTYNENTY,KRAJE) >
<!ELEMENT KONTYNENTY (KONTYNENT*) >
<!ELEMENT KRAJE (KRAJ*) >
<!ELEMENT KONTYNENT (NAZWA) >
<!ELEMENT KRAJ (NAZWA,STOLICA) >
<!ELEMENT STOLICA (#PCDATA) >
<!ELEMENT NAZWA (#PCDATA) >
<!ATTLIST KONTYNENT ID ID #REQUIRED>
<!ATTLIST KRAJ KONTYNENT IDREF #REQUIRED>
